<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar usuario</title>
</head>
<body>
    <h1>Actualizar usuario</h1>
    <form action="{{ url_for('usuario.actualizar_usuario') }}" method="POST">
    <label for="idUsuario">Ingrese el ID:</label>
    <input type="text" name="idUsuario" id="idUsuario"/>
    <br>
    <button>Buscar usuario</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>