<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar renta</title>
</head>
<body>
    <h1>Crear una renta</h1>
    <form action="{{ url_for('rentar.agregar_renta') }}" method="POST">
        <label for="idUsuario">ID de usuario:</label>
        <input type="number" name="idUsuario" id="idUsuario"/>
        <br>
        <label for="idPelicula">ID de película:</label>
        <input type="number" name="idPelicula" id="idPelicula"/>
        <br>
        <label for="dias_de_renta">Días de renta:</label>
        <input type="number" name="dias_de_renta" id="dias_de_renta" value="5"/>
        <br>
        <button type="submit">Crear renta</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <button style="background-color: red; color: white; " onclick="window.location.href='/rentar'">Regresar</button>
    <img src="{{ url_for('static', filename='Clonbuster.jpeg') }}" alt="Descripción de la imagen" class="imagen-esquina">
</body>
</html>
