<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de rentas</title>
</head>
<body>
    <h1>Lista de rentas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Pelicula</th>
            <th>Fecha de Renta</th>
            <th>Dias de Renta</th>
            <th>Estatus</th>
        </tr>
        {% for renta, usuario, pelicula in rentas %}
        <tr>
            <td>{{ renta.idRentar }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ pelicula.nombre }}</td>
            <td>{{ renta.fecha_renta }}</td>
            <td>{{ renta.dias_de_renta }}</td>
            <td>{{ renta.estatus }}</td>
        </tr>
        {% endfor %}
    </table>

    <button style="background-color: red; color: white; "onclick="window.location.href='/rentar'">Regresar</button>
    <img src="{{ url_for('static', filename='Clonbuster.jpeg') }}" alt="Descripción de la imagen" class="imagen-esquina">
</body>
</html>
